<%#= navigational links %>
<%= link_to "Home", "/pages/home" %>
<%= link_to "Marketplace", "/listings/index" %>
<%= link_to "Contact Us", "/pages/Contact" %>

<h1>Sewings</h1>

<h3>About</h3>

    <p>
        This is a two sided marketplace app for patterns and sewn products
    </p>

    <link>Terms & Services</link>