<%#= navigational links %>
<%= link_to "Home", "/pages/home" %>
<%= link_to "Marketplace", "/listings/index" %>
<%= link_to "Contact Us", "/pages/Contact" %>

<h1>Edit Listing</h1>

<%#= calling form partial, @listing variable in conjuction with unique id allows the form to be filled with the entry stored in the database %>
<%= render "form", listing: @listing %>